:root{
    --primary-collor:#FF725E;
    --secundary-collor:#fca89d;
    --tertiary-collor: #263238;
}

*{
    font-family:"Poppins", sans-serif;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* landing page */
.navbar{
    background-color: var(--primary-collor)  !important;
}

.logo{
    display: flex;
    align-items: center;
    gap: 6px;
}

.carousel-inner img {
    width: 100%;
    max-height: 400px;
    object-fit: cover; 
}

.section-body{
    padding: 8vw 8vw 12vw 8vw;
}

.QuemSomos{
    background-color: var(--tertiary-collor);
}

.QuemSomos h2 {
    margin-bottom: 24px;
    color: white;
}

.QuemSomos p {
    color: white;
}

.PerguntasFrequentes{
    background-color: var(--primary-collor)
}

#PerguntasFrequentes{
    margin-bottom: 24px;
}


.accordion-button.active {
    background-color: var(--secundary-collor) !important;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* login page */


.login-forms-geral{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
    gap: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.login-forms-img{
    display: flex;
    align-items: center;
}

.login-forms-img img{
    width: 100%;
    max-height: 400px;
    object-fit: cover; 
}

.login-form{
    width: 300px;
    border-radius: 6px;
    padding: 16px 12px 12px 12px;
    background-color: var(--primary-collor);
}

.login-form h2{
    text-align: center;
    margin-top: 12px;
    color: white;
}

.login-form label {
    margin-top: 12px;
    color: white;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    margin-top: 24px;  
    padding: 10px;
    background-color: var(--tertiary-collor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.login-form button:enabled {
    opacity: 1;
}

.login-form button:disabled {
    cursor: not-allowed;
}

.login-form p{
    margin-top: 12px;
    text-align: end;
} 

.login-form p .link {
    margin-top: 12px; 
    text-align: center;
    text-decoration: none;
    color: white;
}


@media (max-width: 650px) {
    .login-forms-img img{
        display: none;
    }
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* logup page */

.logup-forms-geral{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
    gap: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.logup-forms-img{
    display: flex;
    align-items: center;
}

.logup-forms-img img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.logup-form{
    width: 300px;
    border-radius: 6px;
    padding: 16px 12px 12px 12px;
    background-color: var(--primary-collor);
}

.logup-form h2{
    text-align: center;
    margin-top: 12px;
    color: white;
}

.logup-form label {
    margin-top: 12px;
    color: white;
}

.logup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logup-form button {
    width: 100%;
    margin-top: 24px;  
    padding: 10px;
    background-color: var(--tertiary-collor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.logup-form button:enabled {
    opacity: 1;
}

.logup-form button:disabled {
    cursor: not-allowed;
}

.logup-form p{
    margin-top: 12px;
    text-align: end;
} 

.logup-form p .link {
    margin-top: 12px; 
    text-align: center;
    text-decoration: none;
    color: white;
}


@media (max-width: 650px) {
    .logup-forms-img img{
        display: none;
    }
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* home page */


